.uxioLago {
  color: black;
  /* border: 1px solid black; */
  height: 200px;
  font-size: 50px;
  display: flex;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  margin-left: 5vw;
}
.cuerpo {
  display: flex;
  flex-direction: row;
}
.info {
  width: 40%;
  margin-left: 100px;
  /* border: 1px solid black; */
}

.fotos {
  width: 60%;
  margin-left: 200px;
}
h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 60px;
  letter-spacing: 1px;
  /* border: 1px solid black; */
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  font-weight: 100;

  /* border: 1px solid black; */
  width: fit-content;
  line-height: 160%;
}

span {
  font-weight: 500;
}

@media (max-width: 425px) {
  .cuerpo {
    flex-direction: column;
  }
  .info {
    width: 100%;
    margin-left: 50px;
  }
  .fotos {
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;
  }
  h1 {
    font-size: 40px;
    letter-spacing: 1px;
    width: 100%;
  }
}
